@page
@model KE03_INTDEV_SE_1_Base.Pages.CheckoutSuccessModel

@{
    ViewData["Title"] = "Checkout Succes";
}

<h1>Bedankt voor je bestelling!</h1>

<div class="alert alert-success">
    Je order is succesvol geplaatst.
</div>

<a asp-page="/Producten" class="btn btn-primary">
    Verder winkelen
</a>