@page
@model KE03_INTDEV_SE_1_Base.Pages.KlachtModel
@{
}

<div class="alert alert-info">
    deze page is ontworpen, maar nog niet geïmplementeerd.
    hieronder staat het lofi paper prototype van de klachten page. 
    het idee is dat ingelogde gebruiker al automatisch contactgegevens erbij ingevuld krijgt.
</div>

<div class="text-center mt-4">
    <img src="~/MediaFunctional/KlachtIndienen.jpg"
         class="img-fluid border rounded shadow"
         alt="Lo-Fi prototype van de klachtenpagina" />
</div>