@page
@model KE03_INTDEV_SE_1_Base.Pages.KlantInstellingenModel
@{
}

<div class="alert alert-info">
    deze page is ontworpen, maar nog niet geimplementeerd.
    hieronder staat het lofi paper prototype van deze page
</div>

<div class="text-center mt-4">
    <img src="~/MediaFunctional/InstellingenLofi.jpg"
         class="img-fluid border rounded shadow"
         alt="Lo-Fi prototype van de instellingenpagina" />
</div>