@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Matrix Inc. zal altijd zorgvuldig omgaan met klantengegevens. 
   Wij verkopen geen klantengegevens aan derde partijen en delen persoonlijke informatie uitsluitend 
   wanneer dit noodzakelijk is voor het uitvoeren van onze dienstverlening. 
   Alle gegevens worden vertrouwelijk behandeld en beveiligd opgeslagen. 
   Wij gebruiken klantgegevens alleen voor doeleinden zoals het verwerken van bestellingen, communicatie met klanten 
   en het verbeteren van onze dienstverlening. Door gebruik te maken van onze website gaat u akkoord met dit 
   privacybeleid en de verwerking van uw gegevens zoals hierin beschreven.</p>
