@page
@model KE03_INTDEV_SE_1_Base.Pages.productenModel
@{
    ViewData["Title"] = "Product page";
}

<table class="table table-striped"> <!-- create a table to display products -->
    <thead>
        <tr>
            <th>Product</th>
            <th>Prijs</th>
            <th>Omschrijving</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var p in Model.Products) // Loop through the products and display them in the table
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>@p.Description</td>
                <td><a asp-page="/producteninfo" asp-route-id="@p.Id" class="btn btn-info"> Info</a></td>
            </tr>
        }
    </tbody>
</table>