@page
@model KE03_INTDEV_SE_1_Base.Pages.productenModel
@{
    ViewData["Title"] = "Product page";
}

<table class="Producten">
    <thead>
        <tr>
            <th>Product</th>
            <th>Prijs</th>
            <th>Omschrijving</th>
        </tr>
    </thead>
    @foreach (var p in Model.)
    {        
        <tr>
            <td>@Html.DisplayName(p.Name)</td>
            <td>@Html.DisplayName(p.Price)</td>
            <td>@Html.DisplayName(p.Description)</td>       
        </tr>
    }
</table>